.container{
  width:100vw;
  height:100vh;
  position: absolute;
  left: 0;
  top:0;
  overflow: hidden;
}
#up,#down,#left,#right{
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}
@keyframes gradient{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}
#up{
  height: 80%;
  width: 80%;
background-image: linear-gradient(80deg,#1e0033,#3a0ca3); 
  top:-20%;
  left:-10%;
}
#down{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(80deg,#240046,#5a189a);
  bottom:-20%;
  left:-10%;
}
#left{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(80deg,#10002b,#3c096c);

  
  right:-10%;
  top:-20%;
}
#right{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(80deg,#03045e,#0077b6);
  bottom:-10%;
  right:-10%;
}
.container::after{
position: absolute;
content: "";  
width: 100%;
height: 100%;
backdrop-filter: blur(80px);  
}
#login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0.1);
  padding: 40px;
  border-radius: 10px;
  color: white;
  z-index: 1;
  color: rgba(255,255,255,0.8);
  width: 300px;

}

#username,#password{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgba(255,255,255,0.1);
  border: none;
  border-radius: 5px;
  color: white;
}
#username{
  margin-bottom: 20px;
}
#submit{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  cursor: pointer;
  margin-top: 20px;
  align-self: baseline;
}
#submit:hover{
  background-color: rgba(0,0,0,0.5);
  transition: 0.1s ease-in;
}
.logo{
  position: relative;   /* REQUIRED for z-index to work */
  z-index: 10;          /* higher than container */
  text-align: left;
  color: white;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}
.body{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

