.container{
  width:100vw;
  height:100vh;
  border: 1px solid black;
  position: absolute;
  left: 0;
  top:0;
  overflow: hidden;
}
.container div{
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}
@keyframes gradient{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
#up{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(80deg,
    rgba(8, 2, 30, 0.856),
    rgba(20, 6, 65, 0.5));
 
  top:-20%;
  left:-10%;
}
#down{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(80deg,
    rgba(34, 1, 4, 0.856),
    rgba(65, 6, 16, 0.5));
  
  bottom:-20%;
  left:-10%;
}
#left{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(80deg,
    rgba(2, 30, 29, 0.856),
    rgba(6, 65, 43, 0.5));
  
  right:-10%;
  top:-20%;
}
#right{
  height: 80%;
  width: 80%;
  background-image: linear-gradient(80deg,
    rgba(13, 30, 2, 0.856),
    rgba(6, 65, 35, 0.5));
  
  bottom:-10%;
  right:-10%;
}
.container::after{
position: absolute;
content: "";  
width: 100%;
height: 100%;
backdrop-filter: blur(80px);  
}